<div class="row">
  <div class="col-8">
    <div class="card">
      <div class="card-header bg-success">
        <h6>Lista de Pacientes</h6>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-12">
            <table class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th>CPF</th>
                  <th>Nome</th>
                  <th>Celular</th>
                  <th>Email</th>
                </tr>
              </thead>
              <tbody>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="col-4">
    <div class="card">
      <div class="card-header bg-success">
        Novo Paciente
      </div>
      <div class="card-body">

        <form [formGroup]="pacienteFormulario">
          <div class="row">
            <div class="col-12">
              <div class="form-group">
                <label for="">Nome</label>
                <input type="text" formControlName="nome" class="form-control">
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label for="">Email</label>
                <input type="text" formControlName="email" class="form-control">
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label for="">Celular</label>
                <input type="text" formControlName="celular" class="form-control">
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label for="">Cidade</label>
                <input type="text" formControlName="cidade" class="form-control">
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label for="">Estado</label>
                <input type="text" formControlName="estado" class="form-control">
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label for="">Código PIN</label>
                <input type="text" formControlName="codPin" class="form-control">
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label for="">CPF</label>
                <input type="text" formControlName="cpf" class="form-control">
              </div>
            </div>
            <div class="col-12">
              <div class="form-group">
                <label for="">Endereço</label>
                <textarea formControlName="endereco" class="form-control"></textarea>
              </div>
            </div>
          </div>
          <div class="row pt-2">
            <div class="col-6 text-center">
              <button class="btn btn-secondary">Reiniciar</button>
            </div>
            <div class="col-6 text-center">
              <button class="btn btn-success">Salvar Paciente</button>
            </div>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>